

#menu-interativo{
    cursor: pointer;
    gap: 3px;
}

.barrinha {
  background-color: rgb(0, 0, 0);
  width: 20px;
  height: 3px;
}

#menu-interativo.menu-ativo .barrinha:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#menu-interativo.menu-ativo .barrinha:nth-child(2) {
  opacity: 0;
}
#menu-interativo.menu-ativo .barrinha:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
header{
padding: 30px;
}